.menu-container {
	position: fixed;
	bottom: 30px;
	left: 50%;
	right: 50%;
	translate: -50% -50%;
	display: flex;
	background-color: black;
	width: 300px;
	height: 70px;
	align-items: center;
	justify-content: space-around;
	border-radius: 50px;
	z-index: 10;
	@media (max-width: 425px) {
		bottom: 0;
		height: auto;
	}
	.button {
		outline: 0 !important;
		border: 0 !important;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		transition: all ease-in-out 0.1s;
		cursor: pointer;
	}
	.button:hover {
		transform: translateY(-3px);
	}

	img {
		width: 32px;
	}

	@media (max-width: 425px) {
		width: 90%;
	}
}
