[data-fade-up='hidden'] {
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity 0.5s ease,
		transform 0.5s ease;
}

[data-fade-up='visible'] {
	opacity: 1;
	transform: translateY(0);
	transition:
		opacity 0.5s ease,
		transform 0.5s ease;
}
