:root {
	// цвета
	--black-0: #f5f5f5;
	--black-1: #e7e7e7;
	--black-2: #cdcdcd;
	--black-3: #b2b2b2;
	--black-4: #9a9a9a;
	--black-5: #8b8b8b;
	--black-6: #848484;
	--black-7: #717171;
	--black-8: #656565;
	--black-9: #575757;
	--black: #000;

	--white-coral: #fafaf5;

	--background-color-body: var(--white-coral);

	--low-priority: #00ff22;
	--med-priority: #fbff00;
	--high-priority: #ff1616;
}
